<% provide(:title, "About") %>

<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
  </head>
  <body>
    <h1>About</h1>
    <p>
      Criado por Lucas Tavares como parte do processo seletivo para a Inventos digitais.
    </p>
  </body>
</html>